@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.generalsection {

    header {
 
        

        .general {

            background-color: rgb(42, 2, 2);


            .container {
                max-width: 1200px;
                margin: auto;
            }

            nav {
                display: flex;
                justify-content: space-between;

                .logolar {
                    display: flex;

                    img { 
                        width: 47px;
                        height: 73px;
                        padding-top: 12px;
                    }


                    p {
                        padding: 15px;
                        font-family: 'Inter';
                        font-style: normal;
                        font-size: 20px;
                        color: bisque;
                        width: 168px;
                        padding-top: 31px;

                    }
                }

                .menu {


                    ul {
                        display: flex;
                        align-items: center;

                        li {
                            padding: 20px;



                            a {
                                text-decoration: none;
                                font-size: 20px;
                                color: azure;

                            }

                            // a:hover {
                            //     background: #FF3839;
                            //     padding: 5px;
                            //     border-radius: 5px;


                            // }

                            .button1 {
                                width: 128px;
                                height: 44px;
                                background: #FF3839;
                                border-radius: 5px;
                                font-family: 'Poppins';
                                font-style: normal;
                                font-size: 16px;
                                color: aqua;
                            }




                        }
                    }
                }


            }
        }

    }

    .page1 {
        background-image: url(img/graphic-designers-meeting@2x.jpg);
        background-size: cover;
        height: 100vh;

        .general {
            flex-direction: column;

            .container {
                max-width: 1100px;
                margin: auto;

                .backphoto {

                    padding: 7.812rem 0;
                    padding-bottom: 60px;

                    .word1 {
                        font-family: 'Poppins' sans-serif;
                        font-style: normal;
                        font-size: 26px;
                        text-align: center;
                        text-transform: capitalize;

                        span {
                            color: red;
                        }


                    }

                    .word2 {
                        font-family: 'Poppins' sans-serif;
                        font-style: normal;
                        font-size: 70px;
                        text-align: center;
                        margin-top: 30px;
                    }

                    .solidred {
                        hr {

                            background-color: red;
                        }
                    }



                    .word3 {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        margin-top: 30px;
                    }

                }

                .butons {
                    display: flex;
                    justify-content: center;
                    gap: 30px;


                    .buton1 {
                        background: #FF3839;
                        border-radius: 5px;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-size: 16px;
                        width: 181px;
                        height: 48px;


                    }

                    .buton2 {
                        background: #FFFFFF;
                        border-radius: 5px;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-size: 16px;
                        width: 181px;
                        height: 48px;

                    }
                }
            }
        }

    }

    .page2 {
        height: 100vh;

        .containerthue {
            max-width: 1200px;
            margin: auto;
            padding-top: 120px;

            .form1 {
                .page {
                    position: relative;

                    .img1 {

                        position: absolute;
                        z-index: 1;
                    }

                    .img2 {
                        position: absolute;
                        z-index: 2;
                        padding: 195px;


                    }
                }
            }

            .aboutword {
                float: right;
                text-align: justify;
                padding-right: 90px;


                .firstword {
                    display: flex;

                    .solidabout {

                        width: 143px;
                        height: 2px;
                        background-color: #D8D8D8;
                        margin-top: 17px;

                    }

                    p {
                        font-family: 'Poppins' sans-serif;
                        font-style: normal;
                        font-size: 30px;
                        margin-bottom: 30px;

                    }

                    span {
                        color: #FF3839;
                    }
                }

                .word1 {

                    p {
                        font-style: normal;
                        font-size: 50px;
                        margin-top: 25px;
                        color: black;
                        margin-bottom: 40px;

                        span {
                            color: #e21a1a;
                        }
                    }
                }

                .word2 {
                    font-family: 'Poppins' sans-serif;
                    font-style: normal;
                    font-size: 15px;
                    width: 55vh;
                    padding-bottom: 60px;


                }

                .endbottom {
                    width: 181px;
                    height: 48px;
                    background: #FF3839;
                    border-radius: 5px;


                }

            }

        }
    }

    .page3 {
        background-color:
            #202020;
        padding-top: 100px;
        padding-bottom: 100px;

        .container {
            max-width: 1200px;
            margin: auto;

            .people {
                display: flex;
                justify-content: space-around;


                .words {

                    .titleword {
                        display: flex;
                        
                      .solid{
                        width: 143px;
                        height: 2px;
                        margin-top: 15px;
                        background-color: #D8D8D8;
                      }

                        .word1 {
                            font-family: 'Poppins', sans-serif;
                            font-style: normal;
                            font-size: 26px;
                            text-align: justify;
                            color: #FFFFFF;

                            span {
                                color: red;
                            }

                        }
                    }

                    .word2 {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-size: 48px;
                        font-weight: bold;
                        padding-bottom: 40px;


                        span {
                            color: red;
                        }
                    }

                    .word3 {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-size: 16px;
                        text-align: justify;
                        color: #FFFFFF;
                        width: 420px;


                    }

                    .buton5 {
                        width: 180px;
                        height: 50px;
                        border-radius: 10px;
                        margin-top: 50px;

                    }
                }



                .information {
                    width: 550px;
                    height: 550px;
                    margin-top: 70px;


                    .info1 {


                        .title {
                            display: flex;

                            .infoui {
                                width: 263px;
                                height: 168px;
                                background-color: #FFFFFF;
                                margin-right: 20px;
                                margin-bottom: 20px;
                                border-radius: 5px;
                                text-align: center;
                                padding: 40px;
                                position: relative;

                                h4 {
                                    font-family: 'Poppins', sans-serif;
                                }

                                .uxlogo {
                                    width: 70px;
                                    height: 70px;
                                    border-radius: 50%;
                                    background-color: #FF3839;
                                    position: absolute;
                                    margin-left: 59px;
                                    margin-top: -153px;
                                    padding: 10px;
                                }
                            }

                            .infodeveloment {
                                width: 263px;
                                height: 168px;
                                background-color: #FFFFFF;
                                border-radius: 5px;
                                text-align: center;
                                padding: 40px;

                                h4 {
                                    font-family: 'Poppins', sans-serif;
                                }

                                .develomentlogo {
                                    width: 70px;
                                    height: 70px;
                                    border-radius: 50%;
                                    background-color: #FF3839;
                                    position: absolute;
                                    margin-left: 59px;
                                    margin-top: -153px;
                                    padding: 10px;
                                }

                            }
                        }

                        .title2 {
                            display: flex;


                            .infomobile {
                                width: 263px;
                                height: 168px;
                                background-color: #FFFFFF;
                                margin-right: 20px;
                                margin-top: 40px;
                                border-radius: 5px;
                                text-align: center;
                                padding: 40px;

                                h4 {
                                    font-family: 'Poppins', sans-serif;
                                }

                                .mobillogo {
                                    width: 70px;
                                    height: 70px;
                                    border-radius: 50%;
                                    background-color: #FF3839;
                                    position: absolute;
                                    margin-left: 59px;
                                    margin-top: -153px;
                                    padding: 10px;
                                }


                            }

                            .infoseo {
                                width: 263px;
                                height: 168px;
                                background-color: #FFFFFF;
                                margin-top: 40px;
                                padding: 40px;
                                border-radius: 5px;
                                text-align: center;

                                h4 {
                                    font-family: 'Poppins', sans-serif;
                                }

                                .seoologo {
                                    width: 70px;
                                    height: 70px;
                                    border-radius: 50%;
                                    background-color: #FF3839;
                                    position: absolute;
                                    margin-left: 59px;
                                    margin-top: -153px;
                                    padding: 10px;
                                }

                            }

                        }
                    }
                }
            }

        }


    }

    .page4 {
        padding-top: 150px;

        .container {
            max-width: 1200px;
            margin: auto;

            .general {
                text-align: center;

                .title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .solid1{
                        width: 143px;
                        height: 2px;
                        background-color: #202020;
                    }
                    
                    p {
                        color: #696969;
                        font-size: 20px;
                    }

                     .solid2{
                        width: 143px;
                        height: 2px;
                        background-color: #202020;
                    }

                }
                h1 {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-size: 48px;
                    color: black;
                    padding: 0 300px 0 300px;

                    span {
                        color: #FF3839;
                    }

                }

                .navbar {
                    ul {
                        display: flex;
                        justify-content: center;
                        gap: 40px;

                        li {
                            // .active{
                            //     background: #FF3839 !important;

                            // }
                            .item {
                                background: #db6a6a;
                                min-width: 73px;
                                height: 44px;
                                border-radius: 5px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: 25px;

                            }

                            a {
                                text-decoration: none;
                                color: #202020;
                                transition: 0.2s;

                            }

                            a:hover {
                                background: #FF3839;
                                padding: 10px;
                                border-radius: 10px;

                            }

                        }
                    }
                }
            }

            .portre {
                display: flex;
                justify-content: center;
                justify-content: space-between;
                padding-top: 100px;

                .portre1 {
                    width: 374px;
                    height: 439px;


                }

                .portre2 {
                    width: 374px;
                    height: 513px;



                }

                .portre3 {
                    width: 374px;
                    height: 439px;

                }
            }

        }
    }


    .page5 {
        padding-top: 100px;
        padding-bottom: 200px;
        background-color: #202020;

        .container {
            width: 1200px;
            margin: auto;

            .general {

                .alldiv {
                    display: flex;
                    justify-content: space-between;

                    .title {
                        display: flex;


                        .solid {
                            width: 134px;
                            height: 1px;
                            background-color: #d8d8d8;
                            margin-top: 11px;
                        }

                        p {
                            font-family: 'Poppins', sans-serif;
                            font-style: normal;
                            font-size: 16px;
                            margin-left: 15px;


                            span {

                                color: #FF3839;
                            }
                        }



                    }

                    .title2 {
                        display: flex;
                        gap: 5px;


                        .solid2 {
                            width: 134px;
                            height: 1px;
                            margin-top: 8px;
                            background-color: #D9D9D9;
                        }

                        .cirle1 {
                            width: 16px;
                            height: 16px;
                            background-color: #D9D9D9;
                            border-radius: 50%;
                        }

                        .cirle2 {
                            width: 16px;
                            height: 16px;
                            background-color: #e91111;
                            border-radius: 50%;
                        }

                    }


                }

                h2 {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-size: 38px;
                    width: 400px;
                    color: #FFFFFF;


                    span {
                        color: #FF3839;
                    }
                }
            }

            .allcard {
                display: flex;
                justify-content: space-between;

                .card1 {
                    margin-top: 60px;
                    width: 343px;
                    height: 200px;
                    background-color: #FFFFFF;
                    border-radius: 5px;
                    position: relative;


                    p {
                        text-align: center;
                        font-family: 'Poppins', sans-serif;
                        font-style: normal;
                        font-size: 20px;
                        padding-top: 40px;

                    }

                    img {
                        padding-left: 93px;
                        padding-top: 10px;
                    }

                    .lorem {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-size: 11px;

                    }

                    .logo {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        background-color: #FF3839;
                        position: absolute;
                        padding: 10px;
                        margin-left: 140px;
                        margin-top: -230px;


                        img {
                            padding-left: 15px;
                            margin-top: 6px;


                        }
                    }

                }

            }
        }
    }

    .page6 {
        padding-top: 100px;
        padding-bottom: 100px;

        .container {
            max-width: 1200px;
            margin: auto;

            .general {


                .title {
                    display: flex;
                    justify-content: center;
                    gap: 10px;

                    .solid1 {
                        width: 160px;
                        height: 2px;
                        background-color: #696969;
                        margin-top: 11px;
                    }

                    p {
                        color: #696969;
                    }

                    .solid2 {
                        width: 160px;
                        height: 2px;
                        background-color: #696969;
                        margin-top: 11px;
                    }


                }

                .centerword {
                    text-align: center;

                    p {
                        font-family: 'Poppins', sans-serif;
                        font-style: normal;
                        font-size: 68px;
                        color: #202020;


                    }

                    .Questions {
                        color: #FF3839;
                        text-align: center;

                    }
                }

                .combobox {
                    position: relative;




                    .box1 {

                        background: #202020;
                        border-radius: 5px;
                        height: 84px;
                        margin-bottom: 30px;
                        padding-top: 30px;
                        padding-left: 20px;
                        display: flex;



                        p {
                            color: #FFFFFF;
                        }

                        i {
                            position: absolute;
                            right: 20px;
                            color: #FFFFFF;




                        }


                    }

                    .lorem3 {
                        color: #696969;

                    }

                    .box2 {
                        background: #F1F1F1;
                        border-radius: 5px;
                        height: 84px;
                        color: black;
                        margin-bottom: 30px;
                        display: flex;




                        P {
                            padding-top: 30px;
                            padding-left: 20px;
                        }

                        i {
                            position: absolute;
                            right: 20px;
                            color: black;
                            margin-top: 35px;

                        }

                    }

                }

            }
        }
    }

    .page7 {
        background-color: #F1F1F1;


        .container {
            max-width: 1200px;
            margin: auto;

            .general {

                display: flex;

                .contact {


                    padding-top: 100px;


                    .title {
                        display: flex;

                        .solid4 {
                            width: 143px;
                            height: 1px;
                            margin-top: 10px;
                            background-color: #d8d8d8;
                        }

                        .word {
                            font-family: 'Poppins';
                            font-style: normal;
                            color: #FF3839;

                        }
                    }

                    .contactword {
                        width: 540px;

                        p {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-size: 48px;

                            span {

                                color: #FF3839;
                            }
                        }

                        .lorem {
                            color: #696969;
                            text-align: justify;
                            font-family: 'Poppins';
                            font-style: normal;
                            font-size: 18px;
                            margin-bottom: 20px;
                        }

                    }

                    .allinput {


                        .nameinput {

                            input {
                                width: 533px;
                                height: 60px;
                                border-radius: 5px;
                                margin-bottom: 20px;
                                padding-left: 20px;
                                border-color: #CACACA;
                                background-color: #FFFFFF;


                            }

                            input::placeholder {
                                font-family: 'Poppins', sans-serif;
                                color: black;
                            }

                        }

                        .surnameinput {

                            input {
                                width: 533px;
                                height: 60px;
                                border-radius: 5px;
                                margin-bottom: 20px;
                                padding-left: 20px;
                                border-color: #CACACA;
                                background-color: #FFFFFF;

                            }

                            input::placeholder {
                                font-family: 'Poppins', sans-serif;
                                color: black;
                            }

                        }

                        .messageinput {
                            textarea {
                                width: 533px;
                                height: 149px;
                                border-radius: 5px;
                                background-color: #FFFFFF;
                            }

                            textarea::placeholder {
                                padding-top: 20px;
                                padding-left: 20px;
                                font-family: 'Poppins', sans-serif;

                                border-color: #CACACA;
                                color: black;
                            }
                        }

                        .bottomclick {

                            button {

                                width: 180px;
                                height: 48px;
                                border-radius: 5px;
                                border: none;
                                margin-top: 40px;
                                background-color: #FF3839;
                                color: #FFFFFF;
                            }
                        }



                    }
                }
            }
        }
    }



    #footer {
        background: #202020;
        padding-top: 100px;

        .container {
            max-width: 1200px;
            margin: auto;

            .solidhr {



                .general {

                    display: flex;
                    justify-content: space-between;


                    .caanver {


                        width: 30%;

                        .canver-title {
                            display: flex;

                            p {
                                color: #FFFFFF;
                                font-size: 20px;
                                padding-top: 15px;
                            }
                        }

                        .lorem-word {

                            p {
                                width: 50%;
                                margin-top: 30px;
                                text-align: justify;
                                font-size: 13px;
                                color: #F8F8F8;
                            }
                        }

                        .allicon {
                            display: flex;
                            gap: 10px;
                            padding-top: 20px;

                            .facebookicon {
                                width: 36px;
                                height: 36px;
                                border-radius: 50%;

                                background-color: #FF3839;

                                a {
                                    text-decoration: none;
                                    color: #FFFFFF;

                                    i {
                                        padding-left: 13px;
                                        padding-top: 10px;
                                    }

                                }

                            }

                            .instagramicon {
                                width: 36px;
                                height: 36px;
                                border-radius: 50%;
                                background-color: #FF3839;


                                a {
                                    text-decoration: none;
                                    color: #FFFFFF;


                                    i {
                                        padding-left: 10px;
                                        padding-top: 10px;
                                    }
                                }


                            }

                            .twittericon {
                                width: 36px;
                                height: 36px;
                                border-radius: 50%;
                                background-color: #FF3839;

                                a {
                                    text-decoration: none;
                                    color: #FFFFFF;

                                    i {
                                        padding-left: 10px;
                                        padding-top: 10px;
                                    }

                                }

                            }

                            .linkedin {
                                width: 36px;
                                height: 36px;
                                border-radius: 50%;
                                background-color: #FF3839;

                                a {
                                    text-decoration: none;
                                    color: #FFFFFF;

                                    i {
                                        padding-left: 10px;
                                        padding-top: 10px;
                                    }

                                }

                            }



                        }
                    }

                    .alltitle {
                        display: flex;
                        width: 700px;
                        justify-content: space-between;


                        .titleone {

                            .services-word {
                                font-size: 20px;
                                padding-bottom: 10px;
                                color: #FFFFFF;

                                li {
                                    color: #FFFFFF;


                                }

                            }

                            ul {
                                li {
                                    padding-bottom: 10px;
                                    color: #FFFFFF;
                                }
                            }

                        }

                        .titletwo {

                            .Resouces-word {
                                font-size: 20px;
                                padding-bottom: 10px;
                                color: #FFFFFF;

                                li {
                                    color: #FFFFFF;
                                }

                            }

                            ul {
                                li {
                                    padding-bottom: 10px;
                                    color: #FFFFFF;
                                }
                            }

                        }

                        .titlethire {
                            .Contact-Information {
                                font-size: 20px;
                                padding-bottom: 10px;
                                color: #FFFFFF;
                            }

                            ul {

                                li {
                                    padding-bottom: 10px;
                                    color: #FFFFFF;

                                    i {
                                        color: red;
                                    }
                                }
                            }
                        }
                    }

                }


            }
        }


    }

    .hr {
        hr {
            margin-top: 40px;
        }
    }

    .endgeneral {
        height: 50px;

        .people {
            margin-top: 40px;
            margin-bottom: 50px;
            background-color: #202020;

            .container {
                max-width: 1200px;
                margin: auto;

                .Copyright {
                    display: flex;
                    justify-content: space-between;



                    .endsolit {


                        p {
                            color: #FFFFFF;
                        }
                    }

                    .endword {
                        width: 342px;
                        display: flex;
                        justify-content: space-between;

                        a {

                            color: #FFFFFF;
                        }
                    }
                }

            }
        }
    }
}