@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.generalsection header {
  background-color: #2a0202;
}

.generalsection header .container {
  max-width: 1200px;
  margin: auto;
}

.generalsection header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.generalsection header nav .logolar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.generalsection header nav .logolar img {
  width: 47px;
  height: 73px;
  padding-top: 12px;
}

.generalsection header nav .logolar p {
  padding: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-size: 20px;
  color: bisque;
  width: 168px;
  padding-top: 31px;
}

.generalsection header nav .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.generalsection header nav .menu ul li {
  padding: 20px;
}

.generalsection header nav .menu ul li .button1 {
  width: 128px;
  height: 44px;
  background: #FF3839;
  border-radius: 5px;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 16px;
  color: aqua;
}

.generalsection header nav .menu ul li a {
  text-decoration: none;
  font-size: 20px;
  color: azure;
}

.generalsection .page1 {
  background-image: url(img/graphic-designers-meeting@2x.jpg);
  background-size: cover;
  height: 100vh;
}

.generalsection .page1 .general {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.generalsection .page1 .general .container {
  max-width: 1100px;
  margin: auto;
}

.generalsection .page1 .general .container .backphoto {
  padding: 7.812rem 0;
  padding-bottom: 60px;
}

.generalsection .page1 .general .container .backphoto .photo1 {
  font-family: 'Poppins' sans-serif;
  font-style: normal;
  font-size: 26px;
  text-align: center;
  text-transform: capitalize;
}

.generalsection .page1 .general .container .backphoto .photo1 span {
  color: red;
}

.generalsection .page1 .general .container .backphoto .photo2 {
  font-family: 'Poppins' sans-serif;
  font-style: normal;
  font-size: 70px;
  text-align: center;
  margin-top: 30px;
}

.generalsection .page1 .general .container .backphoto .photo3 {
  font-family: 'Poppins';
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-top: 30px;
}

.generalsection .page1 .general .container .butons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.generalsection .page1 .general .container .butons .buton1 {
  background: #FF3839;
  border-radius: 5px;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 16px;
  width: 181px;
  height: 48px;
}

.generalsection .page1 .general .container .butons .buton2 {
  background: #FFFFFF;
  border-radius: 5px;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 16px;
  width: 181px;
  height: 48px;
}

.generalsection .page2 {
  height: 100vh;
}

.generalsection .page2 .containerthue {
  max-width: 1200px;
  margin: auto;
  padding-top: 120px;
}

.generalsection .page2 .containerthue .form1 .page {
  position: relative;
}

.generalsection .page2 .containerthue .form1 .page .img1 {
  position: absolute;
  z-index: 1;
}

.generalsection .page2 .containerthue .form1 .page .img2 {
  position: absolute;
  z-index: 2;
  padding: 195px;
}

.generalsection .page2 .containerthue .aboutword {
  float: right;
  text-align: justify;
  padding-right: 90px;
}

.generalsection .page2 .containerthue .aboutword .firstword {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.generalsection .page2 .containerthue .aboutword .firstword p {
  font-family: 'Poppins' sans-serif;
  font-style: normal;
  font-size: 30px;
  margin-bottom: 30px;
}

.generalsection .page2 .containerthue .aboutword .firstword span {
  color: #FF3839;
}

.generalsection .page2 .containerthue .aboutword .word1 p {
  font-style: normal;
  font-size: 50px;
  margin-top: 25px;
  color: black;
  margin-bottom: 40px;
}

.generalsection .page2 .containerthue .aboutword .word1 p span {
  color: #e21a1a;
}

.generalsection .page2 .containerthue .aboutword .word2 {
  font-family: 'Poppins' sans-serif;
  font-style: normal;
  font-size: 15px;
  width: 55vh;
  padding-bottom: 60px;
}

.generalsection .page2 .containerthue .aboutword .endbottom {
  width: 181px;
  height: 48px;
  background: #FF3839;
  border-radius: 5px;
}

.generalsection .page3 {
  background-color: #202020;
  padding-top: 100px;
  padding-bottom: 100px;
}

.generalsection .page3 .container {
  max-width: 1200px;
  margin: auto;
}

.generalsection .page3 .container .people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.generalsection .page3 .container .people .words .word1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 26px;
  text-align: justify;
  color: #FFFFFF;
}

.generalsection .page3 .container .people .words .word1 span {
  color: red;
}

.generalsection .page3 .container .people .words .word2 {
  font-family: 'Poppins';
  font-style: normal;
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 40px;
}

.generalsection .page3 .container .people .words .word2 span {
  color: red;
}

.generalsection .page3 .container .people .words .word3 {
  font-family: 'Poppins';
  font-style: normal;
  font-size: 16px;
  text-align: justify;
  color: #FFFFFF;
  width: 420px;
}

.generalsection .page3 .container .people .words .buton5 {
  width: 180px;
  height: 50px;
  border-radius: 10px;
  margin-top: 50px;
}

.generalsection .page3 .container .people .information {
  width: 550px;
  height: 550px;
  margin-top: 70px;
}

.generalsection .page3 .container .people .information .info1 .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.generalsection .page3 .container .people .information .info1 .title .infoui {
  width: 263px;
  height: 168px;
  background-color: #FFFFFF;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
  padding: 40px;
  position: relative;
}

.generalsection .page3 .container .people .information .info1 .title .infoui h4 {
  font-family: 'Poppins', sans-serif;
}

.generalsection .page3 .container .people .information .info1 .title .infoui .uxlogo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #FF3839;
  position: absolute;
  margin-left: 59px;
  margin-top: -153px;
  padding: 10px;
}

.generalsection .page3 .container .people .information .info1 .title .infodeveloment {
  width: 263px;
  height: 168px;
  background-color: #FFFFFF;
  border-radius: 5px;
  text-align: center;
  padding: 40px;
}

.generalsection .page3 .container .people .information .info1 .title .infodeveloment h4 {
  font-family: 'Poppins', sans-serif;
}

.generalsection .page3 .container .people .information .info1 .title .infodeveloment .develomentlogo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #FF3839;
  position: absolute;
  margin-left: 59px;
  margin-top: -153px;
  padding: 10px;
}

.generalsection .page3 .container .people .information .info1 .title2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.generalsection .page3 .container .people .information .info1 .title2 .infomobile {
  width: 263px;
  height: 168px;
  background-color: #FFFFFF;
  margin-right: 20px;
  margin-top: 40px;
  border-radius: 5px;
  text-align: center;
  padding: 40px;
}

.generalsection .page3 .container .people .information .info1 .title2 .infomobile h4 {
  font-family: 'Poppins', sans-serif;
}

.generalsection .page3 .container .people .information .info1 .title2 .infomobile .mobillogo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #FF3839;
  position: absolute;
  margin-left: 59px;
  margin-top: -153px;
  padding: 10px;
}

.generalsection .page3 .container .people .information .info1 .title2 .infoseo {
  width: 263px;
  height: 168px;
  background-color: #FFFFFF;
  margin-top: 40px;
  padding: 40px;
  border-radius: 5px;
  text-align: center;
}

.generalsection .page3 .container .people .information .info1 .title2 .infoseo h4 {
  font-family: 'Poppins', sans-serif;
}

.generalsection .page3 .container .people .information .info1 .title2 .infoseo .seoologo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #FF3839;
  position: absolute;
  margin-left: 59px;
  margin-top: -153px;
  padding: 10px;
}

.generalsection .page4 {
  padding-top: 150px;
}

.generalsection .page4 .container {
  max-width: 1200px;
  margin: auto;
}

.generalsection .page4 .container .general {
  text-align: center;
}

.generalsection .page4 .container .general .title p {
  color: #696969;
  font-size: 20px;
}

.generalsection .page4 .container .general .title h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-size: 48px;
  color: black;
  padding: 0 300px 0 300px;
}

.generalsection .page4 .container .general .title h1 span {
  color: #FF3839;
}

.generalsection .page4 .container .general .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

.generalsection .page4 .container .general .navbar ul li .item {
  background: #db6a6a;
  min-width: 73px;
  height: 44px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
}

.generalsection .page4 .container .general .navbar ul li a {
  text-decoration: none;
  color: #202020;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.generalsection .page4 .container .general .navbar ul li a:hover {
  background: #FF3839;
  padding: 10px;
  border-radius: 10px;
}

.generalsection .page4 .container .portre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
}

.generalsection .page4 .container .portre .portre1 {
  width: 374px;
  height: 439px;
}

.generalsection .page4 .container .portre .portre2 {
  width: 374px;
  height: 513px;
}

.generalsection .page4 .container .portre .portre3 {
  width: 374px;
  height: 439px;
}

.generalsection .page5 {
  padding-top: 100px;
  padding-bottom: 200px;
  background-color: #202020;
}

.generalsection .page5 .container {
  width: 1200px;
  margin: auto;
}

.generalsection .page5 .container .general .alldiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.generalsection .page5 .container .general .alldiv .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.generalsection .page5 .container .general .alldiv .title .solid {
  width: 134px;
  height: 1px;
  background-color: #d8d8d8;
  margin-top: 11px;
}

.generalsection .page5 .container .general .alldiv .title p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  margin-left: 15px;
}

.generalsection .page5 .container .general .alldiv .title p span {
  color: #FF3839;
}

.generalsection .page5 .container .general .alldiv .title2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.generalsection .page5 .container .general .alldiv .title2 .solid2 {
  width: 134px;
  height: 1px;
  margin-top: 8px;
  background-color: #D9D9D9;
}

.generalsection .page5 .container .general .alldiv .title2 .cirle1 {
  width: 16px;
  height: 16px;
  background-color: #D9D9D9;
  border-radius: 50%;
}

.generalsection .page5 .container .general .alldiv .title2 .cirle2 {
  width: 16px;
  height: 16px;
  background-color: #D9D9D9;
  border-radius: 50%;
}

.generalsection .page5 .container .general .alldiv .title2 .cirle3 {
  width: 16px;
  height: 16px;
  background-color: #D9D9D9;
  border-radius: 50%;
}

.generalsection .page5 .container .general .alldiv .title2 .cirle4 {
  width: 16px;
  height: 16px;
  background-color: #D9D9D9;
  border-radius: 50%;
}

.generalsection .page5 .container .general .alldiv .title2 .cirle5 {
  width: 16px;
  height: 16px;
  background-color: #D9D9D9;
  border-radius: 50%;
}

.generalsection .page5 .container .general h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-size: 38px;
  width: 400px;
  color: #FFFFFF;
}

.generalsection .page5 .container .general h2 span {
  color: #FF3839;
}

.generalsection .page5 .container .allcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.generalsection .page5 .container .allcard .card1 {
  margin-top: 60px;
  width: 343px;
  height: 200px;
  background-color: #FFFFFF;
  border-radius: 5px;
  position: relative;
}

.generalsection .page5 .container .allcard .card1 p {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 20px;
  padding-top: 40px;
}

.generalsection .page5 .container .allcard .card1 img {
  padding-left: 93px;
  padding-top: 10px;
}

.generalsection .page5 .container .allcard .card1 .lorem {
  font-family: 'Poppins';
  font-style: normal;
  font-size: 11px;
}

.generalsection .page5 .container .allcard .card1 .logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #FF3839;
  position: absolute;
  padding: 10px;
  margin-left: 140px;
  margin-top: -230px;
}

.generalsection .page5 .container .allcard .card1 .logo img {
  padding-left: 15px;
  margin-top: 6px;
}

.generalsection .page6 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.generalsection .page6 .container {
  max-width: 1200px;
  margin: auto;
}

.generalsection .page6 .container .general .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.generalsection .page6 .container .general .title .solid1 {
  width: 160px;
  height: 2px;
  background-color: #696969;
  margin-top: 11px;
}

.generalsection .page6 .container .general .title p {
  color: #696969;
}

.generalsection .page6 .container .general .title .solid2 {
  width: 160px;
  height: 2px;
  background-color: #696969;
  margin-top: 11px;
}

.generalsection .page6 .container .general .centerword {
  text-align: center;
}

.generalsection .page6 .container .general .centerword p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 68px;
  color: #202020;
}

.generalsection .page6 .container .general .centerword .Questions {
  color: #FF3839;
  text-align: center;
}

.generalsection .page6 .container .general .combobox {
  position: relative;
}

.generalsection .page6 .container .general .combobox .box1 {
  background: #202020;
  border-radius: 5px;
  height: 84px;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.generalsection .page6 .container .general .combobox .box1 p {
  color: #FFFFFF;
}

.generalsection .page6 .container .general .combobox .box1 i {
  position: absolute;
  right: 20px;
  color: #FFFFFF;
}

.generalsection .page6 .container .general .combobox .lorem3 {
  color: #696969;
}

.generalsection .page6 .container .general .combobox .box2 {
  background: #F1F1F1;
  border-radius: 5px;
  height: 84px;
  color: black;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.generalsection .page6 .container .general .combobox .box2 P {
  padding-top: 30px;
  padding-left: 20px;
}

.generalsection .page6 .container .general .combobox .box2 i {
  position: absolute;
  right: 20px;
  color: black;
  margin-top: 35px;
}

.generalsection .page7 {
  background-color: #F1F1F1;
}

.generalsection .page7 .container {
  max-width: 1200px;
  margin: auto;
}

.generalsection .page7 .container .general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.generalsection .page7 .container .general .contact {
  padding-top: 100px;
}

.generalsection .page7 .container .general .contact .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.generalsection .page7 .container .general .contact .title .solid4 {
  width: 143px;
  height: 1px;
  margin-top: 10px;
  background-color: #d8d8d8;
}

.generalsection .page7 .container .general .contact .title .word {
  font-family: 'Poppins';
  font-style: normal;
  color: #FF3839;
}

.generalsection .page7 .container .general .contact .contactword {
  width: 540px;
}

.generalsection .page7 .container .general .contact .contactword p {
  font-family: 'Poppins';
  font-style: normal;
  font-size: 48px;
}

.generalsection .page7 .container .general .contact .contactword p span {
  color: #FF3839;
}

.generalsection .page7 .container .general .contact .contactword .lorem {
  color: #696969;
  text-align: justify;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 18px;
  margin-bottom: 20px;
}

.generalsection .page7 .container .general .contact .allinput .nameinput input {
  width: 533px;
  height: 60px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 20px;
  border-color: #CACACA;
  background-color: #FFFFFF;
}

.generalsection .page7 .container .general .contact .allinput .nameinput input::-webkit-input-placeholder {
  font-family: 'Poppins', sans-serif;
  color: black;
}

.generalsection .page7 .container .general .contact .allinput .nameinput input:-ms-input-placeholder {
  font-family: 'Poppins', sans-serif;
  color: black;
}

.generalsection .page7 .container .general .contact .allinput .nameinput input::-ms-input-placeholder {
  font-family: 'Poppins', sans-serif;
  color: black;
}

.generalsection .page7 .container .general .contact .allinput .nameinput input::placeholder {
  font-family: 'Poppins', sans-serif;
  color: black;
}

.generalsection .page7 .container .general .contact .allinput .surnameinput input {
  width: 533px;
  height: 60px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 20px;
  border-color: #CACACA;
  background-color: #FFFFFF;
}

.generalsection .page7 .container .general .contact .allinput .surnameinput input::-webkit-input-placeholder {
  font-family: 'Poppins', sans-serif;
  color: black;
}

.generalsection .page7 .container .general .contact .allinput .surnameinput input:-ms-input-placeholder {
  font-family: 'Poppins', sans-serif;
  color: black;
}

.generalsection .page7 .container .general .contact .allinput .surnameinput input::-ms-input-placeholder {
  font-family: 'Poppins', sans-serif;
  color: black;
}

.generalsection .page7 .container .general .contact .allinput .surnameinput input::placeholder {
  font-family: 'Poppins', sans-serif;
  color: black;
}

.generalsection .page7 .container .general .contact .allinput .messageinput textarea {
  width: 533px;
  height: 149px;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.generalsection .page7 .container .general .contact .allinput .messageinput textarea::-webkit-input-placeholder {
  padding-top: 20px;
  padding-left: 20px;
  font-family: 'Poppins', sans-serif;
  border-color: #CACACA;
  color: black;
}

.generalsection .page7 .container .general .contact .allinput .messageinput textarea:-ms-input-placeholder {
  padding-top: 20px;
  padding-left: 20px;
  font-family: 'Poppins', sans-serif;
  border-color: #CACACA;
  color: black;
}

.generalsection .page7 .container .general .contact .allinput .messageinput textarea::-ms-input-placeholder {
  padding-top: 20px;
  padding-left: 20px;
  font-family: 'Poppins', sans-serif;
  border-color: #CACACA;
  color: black;
}

.generalsection .page7 .container .general .contact .allinput .messageinput textarea::placeholder {
  padding-top: 20px;
  padding-left: 20px;
  font-family: 'Poppins', sans-serif;
  border-color: #CACACA;
  color: black;
}

.generalsection .page7 .container .general .contact .allinput .bottomclick button {
  width: 180px;
  height: 48px;
  border-radius: 5px;
  border: none;
  margin-top: 40px;
  background-color: #FF3839;
  color: #FFFFFF;
}

.generalsection #footer {
  background: #202020;
  padding-top: 100px;
}

.generalsection #footer .container {
  max-width: 1200px;
  margin: auto;
}

.generalsection #footer .container .solidhr .general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.generalsection #footer .container .solidhr .general .caanver {
  width: 30%;
}

.generalsection #footer .container .solidhr .general .caanver .canver-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.generalsection #footer .container .solidhr .general .caanver .canver-title p {
  color: #FFFFFF;
  font-size: 20px;
  padding-top: 15px;
}

.generalsection #footer .container .solidhr .general .caanver .lorem-word p {
  width: 50%;
  margin-top: 30px;
  text-align: justify;
  font-size: 13px;
  color: #F8F8F8;
}

.generalsection #footer .container .solidhr .general .caanver .allicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding-top: 20px;
}

.generalsection #footer .container .solidhr .general .caanver .allicon .facebookicon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #FF3839;
}

.generalsection #footer .container .solidhr .general .caanver .allicon .facebookicon a {
  text-decoration: none;
  color: #FFFFFF;
}

.generalsection #footer .container .solidhr .general .caanver .allicon .facebookicon a i {
  padding-left: 13px;
  padding-top: 10px;
}

.generalsection #footer .container .solidhr .general .caanver .allicon .instagramicon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #FF3839;
}

.generalsection #footer .container .solidhr .general .caanver .allicon .instagramicon a {
  text-decoration: none;
  color: #FFFFFF;
}

.generalsection #footer .container .solidhr .general .caanver .allicon .instagramicon a i {
  padding-left: 10px;
  padding-top: 10px;
}

.generalsection #footer .container .solidhr .general .caanver .allicon .twittericon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #FF3839;
}

.generalsection #footer .container .solidhr .general .caanver .allicon .twittericon a {
  text-decoration: none;
  color: #FFFFFF;
}

.generalsection #footer .container .solidhr .general .caanver .allicon .twittericon a i {
  padding-left: 10px;
  padding-top: 10px;
}

.generalsection #footer .container .solidhr .general .caanver .allicon .linkedin {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #FF3839;
}

.generalsection #footer .container .solidhr .general .caanver .allicon .linkedin a {
  text-decoration: none;
  color: #FFFFFF;
}

.generalsection #footer .container .solidhr .general .caanver .allicon .linkedin a i {
  padding-left: 10px;
  padding-top: 10px;
}

.generalsection #footer .container .solidhr .general .alltitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.generalsection #footer .container .solidhr .general .alltitle .titleone .services-word {
  font-size: 20px;
  padding-bottom: 10px;
  color: #FFFFFF;
}

.generalsection #footer .container .solidhr .general .alltitle .titleone .services-word li {
  color: #FFFFFF;
}

.generalsection #footer .container .solidhr .general .alltitle .titleone ul li {
  padding-bottom: 10px;
  color: #FFFFFF;
}

.generalsection #footer .container .solidhr .general .alltitle .titletwo .Resouces-word {
  font-size: 20px;
  padding-bottom: 10px;
  color: #FFFFFF;
}

.generalsection #footer .container .solidhr .general .alltitle .titletwo .Resouces-word li {
  color: #FFFFFF;
}

.generalsection #footer .container .solidhr .general .alltitle .titletwo ul li {
  padding-bottom: 10px;
  color: #FFFFFF;
}

.generalsection #footer .container .solidhr .general .alltitle .titlethire .Contact-Information {
  font-size: 20px;
  padding-bottom: 10px;
  color: #FFFFFF;
}

.generalsection #footer .container .solidhr .general .alltitle .titlethire ul li {
  padding-bottom: 10px;
  color: #FFFFFF;
}

.generalsection #footer .container .solidhr .general .alltitle .titlethire ul li i {
  color: red;
}

.generalsection .hr hr {
  margin-top: 40px;
}

.generalsection .endgeneral {
  height: 50px;
}

.generalsection .endgeneral .people {
  margin-top: 40px;
  margin-bottom: 50px;
  background-color: #202020;
}

.generalsection .endgeneral .people .container {
  max-width: 1200px;
  margin: auto;
}

.generalsection .endgeneral .people .container .Copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.generalsection .endgeneral .people .container .Copyright .endsolit p {
  color: #FFFFFF;
}

.generalsection .endgeneral .people .container .Copyright .endword {
  width: 342px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.generalsection .endgeneral .people .container .Copyright .endword a {
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */